@import './vars';
body{
	background-color: #000;
}

//TODO: add support for platform specific style sheets
#container{
	*{
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	width: 2048px;
	height: 1536px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	@import './bottomScroller.scss';
	.scrollContainer{
		.inner{
			overflow: hidden;
		}
	}
	.view{
		@include fillParent();
		display: none;
		height: 1536px;
		&.active{
			display: block;
		}
	}
}
