
@import './vars';
body{
	background-color: #000;
}
#container{
	width: 2048px;
	height: 1536px;
	overflow: hidden;
	position: relative;
background-color: #fff;
	.view{
		@include fillParent();
		display: none;
		&.active{
			display: block;
		}
	}
}
