<%
	var html = '';
	if(fullPage) html = `
			</div>
		</div>
	</div>
	</body>
	<script src="../../globalAssets/js/jquery-3.1.0.min.js" charset="utf-8"></script>
	<script src="../../globalAssets/js/tappy.min.js" charset="utf-8"></script>
	<script src="../../globalAssets/js/unify.min.js" charset="utf-8"></script>
	<script src="../../globalAssets/js/multi-plat.js" charset="utf-8"></script>
	<script src="../../globalAssets/js/platform-specifics/desktop.js" charset="utf-8"></script>
	</html>
	`;
%>
<%- html %>
