
</div>
<%
	var bottomScroll = '';
	if(projectConfig.bottomScrollerHeight){
		if(parseInt(projectConfig.bottomScrollerHeight)) bottomScroll = include('../includes/bottomScroller');
	}
%>
<%- bottomScroll %>
</div>
</div>
</body>
<script src="_#../../globalAssets/js/jquery-3.1.0.min.js" charset="utf-8"></script>
<script src="_#../../globalAssets/js/tappy.min.js" charset="utf-8"></script>
<script src="_#../../globalAssets/js/unify.min.js" charset="utf-8"></script>
<script src="_#../../globalAssets/js/swipeGestures.js" charset="utf-8"></script>
<script src="_#../../globalAssets/js/iscroll-probe.js" charset="utf-8"></script>
<script src="_#../../globalAssets/js/multi-plat.js" charset="utf-8"></script>
<%
	var platformScript = `
		<script src="_#../../globalAssets/js/platform-specifics/${locals.buildType}.js" charset="utf-8"></script>
	`;
%>
<%- platformScript %>
<script type="text/javascript">
	app.platform.init();
</script>
<%
	var script = include(`../slides/${slide}/page.js`, locals);
	if(locals.buildType === 'native'){
		script = script.replace(/_#..\/..\/globalAssets/g, '.\/globalAssets').replace(/_#/g, `./${locals.slide}/`);
		script = `
			app.pageScripts['${locals.slide}'] = function(){
				${script}
			};
			app.pageScripts['${locals.slide}']();
		`;
	}
	else{
		script = script.replace(/_#/g, './').replace(/..\/..\/globalAssets/g, '.\/globalAssets').replace(/.\/.\//g, '.\/').replace(/.\/\//g, '.\/');
	}


%>
<%- `<script type="text/javascript">${script}</script>` %>
</html>
