<!DOCTYPE>
<html>
<head>
	<meta name="viewport" content="width=1024, initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<%
		var style;
		var style2 = '';
		if(locals.buildType === 'native'){
			style = include(`../includes/outer.css`, locals).replace('sourceMappingURL=', 'sourceMappingURL=dev/includes/');
			style2 = '<style>'+include(`../slides/${slide}/content.css`, locals)+'</style>';
			style2 = style2.replace(/_#..\/..\/globalAssets/g, '.\/globalAssets').replace(/_#/g, `./${locals.slide}/`).replace('sourceMappingURL=', `sourceMappingURL=${locals.slide}/`);
		}
		else{
			style = include(`../slides/${slide}/complete.css`, locals);
			style = style.replace(/_#/g, './').replace(/..\/..\/globalAssets/g, '.\/globalAssets').replace(/.\/.\//g, '.\/').replace(/.\/\//g, '.\/');
		}
	%>
	<%- `<style>${style}</style>` %>


</head>
<body>
<div id="wrapper">
	<div id="container">

		<div class="view"></div>
		<div class="view active">
		<%- style2 %>
