<!DOCTYPE>
<html>
<head>
	<meta name="viewport" content="width=1024, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="./localAssets/complete.css">
</head>
<body>
<div id="wrapper">
	<div id="container">
		<div class="view"></div>
		<div class="view active">
