<%
	var html = '';
	if(fullPage) html = `
	<!DOCTYPE>
	<html>
	<head>
	    <meta name="viewport" content="width=1024, initial-scale=1, user-scalable=no">
	    <link rel="stylesheet" href="./complete.css">
	</head>
	<body>
	<div id="wrapper">
		<div id="container">
			<div class="view"></div>
			<div class="view active">
	`;
%>
<%- html %>
<%
	// TODO: make ejs route JS files to script tags for veeva and MI, while assigning as object value on native-like
	// TODO: un-hack EJS templates to be logical without string syntax
%>
