html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #000;
}

#container {
  width: 2048px;
  height: 1536px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
#container * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#container #bottomScroller {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
  height: 400px;
  background-color: blue;
  z-index: 10;
}
#container #bottomScroller .inner {
  position: absolute;
  top: 25px;
  left: 25px;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  box-sizing: border-box;
  padding-right: 15px;
}
#container .scrollContainer .inner {
  overflow: hidden;
}
#container .view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  height: 1136px;
}
#container .view.active {
  display: block;
}
#container .view .ParentSlide[activeChild="1"] .childSlide:first-child {
  margin-top: 0px;
}
#container .view .ParentSlide[activeChild="2"] .childSlide:first-child {
  margin-top: -1136px;
}
#container .view .ParentSlide[activeChild="3"] .childSlide:first-child {
  margin-top: -2272px;
}
#container .view .ParentSlide[activeChild="4"] .childSlide:first-child {
  margin-top: -3408px;
}
#container .view .ParentSlide[activeChild="5"] .childSlide:first-child {
  margin-top: -4544px;
}
#container .view .ParentSlide[activeChild="6"] .childSlide:first-child {
  margin-top: -5680px;
}
#container .view .ParentSlide[activeChild="7"] .childSlide:first-child {
  margin-top: -6816px;
}
#container .view .ParentSlide[activeChild="8"] .childSlide:first-child {
  margin-top: -7952px;
}
#container .view .ParentSlide[activeChild="9"] .childSlide:first-child {
  margin-top: -9088px;
}
#container .view .ParentSlide[activeChild="10"] .childSlide:first-child {
  margin-top: -10224px;
}
#container .view .ParentSlide[activeChild="11"] .childSlide:first-child {
  margin-top: -11360px;
}
#container .view .ParentSlide[activeChild="12"] .childSlide:first-child {
  margin-top: -12496px;
}
#container .view .ParentSlide[activeChild="13"] .childSlide:first-child {
  margin-top: -13632px;
}
#container .view .ParentSlide[activeChild="14"] .childSlide:first-child {
  margin-top: -14768px;
}
#container .view .ParentSlide[activeChild="15"] .childSlide:first-child {
  margin-top: -15904px;
}
#container .view .ParentSlide[activeChild="16"] .childSlide:first-child {
  margin-top: -17040px;
}
#container .view .ParentSlide[activeChild="17"] .childSlide:first-child {
  margin-top: -18176px;
}
#container .view .ParentSlide[activeChild="18"] .childSlide:first-child {
  margin-top: -19312px;
}
#container .view .ParentSlide[activeChild="19"] .childSlide:first-child {
  margin-top: -20448px;
}
#container .view .ParentSlide[activeChild="20"] .childSlide:first-child {
  margin-top: -21584px;
}
#container .view .ParentSlide .childSlide {
  height: 1136px;
}

/*# sourceMappingURL=outer.css.map */
